.banner_image{
	width: 200px;
	height: 200px;
}

.banner_image_create{
	width: 100%;
	height: auto;
}

.alert-success {
    color: #fff;
    background-color: #28a745;
    border-color: #23923d;
    height: 50px;
    margin:   20px 20px 10px 20px;
}

.action_button{
	height: 36px;
	margin:2px;
}
._required{
	color: red;
	font-weight: bold;
}
._action{
	width: 140px;
}
._action_big{
    width: 150px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.remove_from_header{
	display: block;
}
.content-header {
    padding: 5px;
}
.card-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}
.card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px 3px;
}
.form-control {
    
    margin-bottom: 5px;
}
.margin_bottom_20{
	margin-bottom: 20px;
}

.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.width_280_px{
	width: 280px;
}
.search_row{
	cursor: pointer;
}
.search_box{
	position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_row:hover{
	background: #e9ecef;
}
.required_border{
	border: 1px solid red;
}

.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 0px 0px 0px 20px;
}

.card_header_section{
    width: 100%;
}
._page_name_area{
    width: 50%;
    float: left;
    text-align: left;
}
._new_button_area{
    width: 50%;
    float: left;
    text-align: right;
}
.right_float{
    float: right !important; 
}


.alert-danger{
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-area{
    width: 95%;
    margin: 0px auto;
    height: 63px;
}

._nv_th_action{
    width: 13%;
}
._nv_th_id{
    width: 5%;
}
._nv_th_code{
    width: 5%;
}
._nv_th_date{
    width: 10%;
}
._nv_th_type{
    width: 5%;
}
._nv_th_amount{
    width: 10%;
}
._nv_th_ref{
    width: 15%;
}
._nv_th_note{
    width: 20%;
}
._nv_th_branch{
    width: 10%;
}
._nv_th_user{
    width: 5%;
}
