body{
     font-family: math;
}

.banner_image{
	width: 200px;
	height: 200px;
}

.banner_image_create{
	width: 100%;
	height: auto;
}

.alert-success {
    color: #fff;
    background-color: #28a745;
    border-color: #23923d;
    height: 50px;
    margin:   20px 20px 10px 20px;
}

.action_button{
	height: 36px;
	margin:2px;
}
._required{
	color: red !important;
	font-weight: bold;
}
._action{
	width: 140px;
}
._action_big{
    width: 150px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.remove_from_header{
	display: block;
}
.content-header {
    padding-top: 2px;
    padding-bottom: 0px;
    background: #fff;
}
.content-wrapper>.content {
    padding: 0px;
}
.card-header {
    padding: 0 0 0 0px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid rgba(0,0,0,.125);
    margin-top: 2px;
}
.card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px 3px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.0rem + 1px);
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .15rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
._purchase_row_remove,._voucher_row_remove{
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.form_body > .table-bordered td, .table-bordered th {
    border: 1px solid #CCCCCC;
}
thead{
    background: #0576a0;
    color: #fff;
    font-family: math;
}
tfoot{
    background: #fff;
     font-family: math;
}
.form_body {
    background: #FFF;
    font-family: math;
}
label{
    margin-bottom: 1px;
     font-family: math;
}
.margin_bottom_20{
	margin-bottom: 20px;
}

.table td, .table th {
    padding: 1px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.text-middle{
    vertical-align: middle !important;
    text-align: center !important;
}
.width_200_px{
    min-width:  200px ;
    max-width: 100%;
}

.width_280_px {
    min-width: 280px;
    max-width: 100%;
}
.width_150_px{
    min-width: 150px;
    max-width: 100%;
}
.width_100_px{
    min-width:  100px;
    max-width: 100%;
}
.width_250_px{
    min-width: 250px;
    max-width: 100%;
}
.search_row{
	cursor: pointer;
}
.search_box{
	position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_box_purchase_order{
    position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_box_item{
   position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_row_item:hover{
	background: #e9ecef;
    cursor: pointer;
}
.search_row_purchase_order:hover{
    background: #e9ecef;
    cursor: pointer;
}
.search_row:hover{
    background: #e9ecef;
}

.search_box_main_ledger{
   position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_row_ledger:hover{
    background: #e9ecef;
    cursor: pointer;
}

.search_box_delivery_man{
   position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_row_delivery_man:hover{
    background: #e9ecef;
    cursor: pointer;
}
.search_row_delivery_man{
    border: 1px solid #CCCCCC;
}
.search_box_sales_man{
   position: absolute;
    z-index: 9999;
    background: #fff;
    display: none;
}
.search_row_sales_man:hover{
    background: #e9ecef;
    cursor: pointer;
}
.search_row_sales_man{
    border: 1px solid #CCCCCC;
}
.search_row_ledger{
    border: 1px solid #CCCCCC;
}

.required_border{
	border: 1px solid red;
}

.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 0px 0px 0px 20px;
}

.card_header_section{
    width: 100%;
}
._page_name_area{
    width: 50%;
    float: left;
    text-align: left;
}
._new_button_area{
    width: 50%;
    float: left;
    text-align: right;
}
.right_float{
    float: right !important; 
}


.alert-danger{
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-area{
    width: 95%;
    margin: 0px auto;
    max-height: 63px;
    min-height: 1px;
}

._nv_th_action{
    width: 13%;
}
._nv_th_id{
    width: 5%;
}
._nv_th_code{
    width: 5%;
}
._nv_th_date{
    width: 10%;
}
._nv_th_type{
    width: 5%;
}
._nv_th_amount{
    width: 10%;
}
._nv_th_ref{
    width: 15%;
}
._nv_th_note{
    width: 20%;
}
._nv_th_branch{
    width: 10%;
}
._nv_th_user{
    width: 5%;
}

.submit-button_row{
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}


.ajax_loader {
    width: 300px;
    height: 66px;
    position: fixed;
    z-index: 99999;
    margin: 0px auto;
    float: right;
    right: 0;
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
    top: 127px;
    margin-right: 26px;
    display: none;
}
.loading_text{
    font-size: 30px;
    color: green;
    font-weight: bolder;
}

.navbar {
    
    padding: 0px;
}

._filter_ledger_search_table{
    width: 360px;
}

._filter_ledger_search_display{
    margin-top: 40px;
    width: 360px;
}
.print_content{
    padding: 5px;
}

a {
    color: #343a40;
    text-decoration: none;
    background-color: transparent;
    font-weight: 900;
}


body:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
   top: 40px; 
}
.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
    margin-left: 0px!important;
}
.main-sidebar{
    display: none;
}
#sidebar-overlay {
    background-color: rgba(0,0,0,.1);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

.filter_body{
    width: 450px;
    margin:0px auto;
    margin-bottom: 20px;
}

._nv_warning{
    background: #e9adad;
}
._page_name{
    font-size: 24px !important;
    font-weight: bold;
}
.display_none{
    display: none;
}
.card {
    margin-bottom: 1px;
}

.bottom_save_section{
    position: fixed;
    bottom: 0px;
    background: #d8eff3;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
}
.mb-10{
    margin-bottom: 100px;
}
.form-control:focus {
    border-color: #28a745;
}

.alert {
     position: relative; 
     padding: 0px !important;
     margin-bottom: 0px !important; 
     border: 0px solid transparent; 
     border-radius: .25rem; 
    background: #f4f6f9!important;
    color: green ;
    text-align: center;
    font-weight: bold;
}
.mb-10{
    margin-bottom: 100px;
}

.form-group {
    margin-bottom: 2px !important;
}

.alert-success {
    height: 24px !important;
    margin: 0px auto !important;
}

